<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    
    <header>
        <nav class="container-nav">
            <div class="left"></div>
            <div class="center">
                <a class="logo" href="index.html" aria-label="Retour à l'accueil">
                    <img src="../images/logo/logo.webp" alt="Logo du site HBnB">HBnB
                </a>
            </div>
            <div class="right">
                <!-- login a transformer en logout... -->
                <a href="login.html" id="login-link" class="login-button">Login</a>
            </div>
        </nav>
    </header>

    <main>
        <section id="place-details" class="place-details">
            <!-- card detail of place with title description owner price amenities -->
            <div class="place-info">
                <h1>place title</h1>
                <p>place description</p>
                <div class="place-media">
                    <div class="place-img">
                        <img src="../images/places/place_default.webp" alt="Place image">
                    </div>
                    <div class="place-meta">
                        <p><strong>Owner :</strong> </p>
                        <p><strong>Price per night :</strong> $</p>
                        <p><strong>Amenities :</strong> </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="reviews">
            <!-- Reviews will be populated dynamically -->
            <h2>Customer reviews</h2>
            <div class="review-card">
                <!-- card detail of review with author comment and star for rating -->
                <div class="card-body">
                    <!-- Étoiles -->
                    <div class="stars">
                        <!-- générées en JS en fonction du rating -->
                    </div>
                    <!-- Auteur -->
                    <p class="author">author</p>
                    <!-- Commentaire -->
                    <p class="comment">comment</p>
                </div>
            </div>
        </section>

        <section class="add-review">
            <!-- button : visible only if user logged in / trigger modal-->
             <div id="add-review">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Modal">Add a review
                </button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="ModalLabel">Reviewing : name of place</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="review-form" class="form">
                                <label for="review-text">Your Review:</label>
                                <textarea id="review-text" name="review-text" required></textarea>
                                <label for="rating">Rating:</label>
                                <select id="rating" name="rating" required>
                                    <option value="">-- Select a rating --</option>
                                    <option value="1">1 ⭐</option>
                                    <option value="2">2 ⭐</option>
                                    <option value="3">3 ⭐</option>
                                    <option value="4">4 ⭐</option>
                                    <option value="5">5 ⭐</option>
                                </select>
                            </form>                   
                        </div>
                        <div class="modal-footer">
                            <button type="submit" form="review-form" class="btn">Submit Review</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>

    <footer>
        <div class="left">
            <a class="logo" href="index.html" aria-label="Retour à l'accueil">
                <img src="../images/logo/logo_bis.webp" alt="Logo du site HBnB">
            </a>
        </div>
        <div class="center">
            <p class="footer-copyright"> © <strong>HBnB 2026 - New Generation</strong> — All rights reserved</p>
        </div>
        <div class="right">
            <a href="https://instagram.com/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://facebook.com/">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/scripts.js"></script>
</body>
</html>