<footer>
    <div class="left">
        <a class="logo" href="{{ url_for('main.home') }}" aria-label="Retour à l'accueil">
            <img src="{{ url_for('static', filename='images/logo/logo_bis.webp') }}" alt="Logo du site HBnB">
        </a>
    </div>
    <div class="center">
        <p class="footer-copyright"> © <strong>HBnB 2026 - New Generation</strong> — All rights reserved</p>
    </div>
    <div class="right">
        <a href="https://instagram.com/">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://facebook.com/">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </div>
</footer>