<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='images/hero/hero_2.webp') }}'); background-repeat: no-repeat; background-position: bottom center; background-size: 100% auto;">

    {% include 'header.html' %}

    <main>
        <!-- Section hero -->
        <section class="hero" aria-labelledby="hero-title" style="background-image: url('{{ url_for('static', filename='images/hero/hero_1.webp') }}')">
            <div class="hero-bg-overlay"></div>
            <div class="hero-content row">
                <h1 id="hero-title">Evadez-vous entre lacs & montagnes</h1>
                <p class="hero-subtitle">Trouvez le logement idéal pour vos prochains séjours</p>
            </div>
        </section>

        <!-- Section filtre -->
        <div id="filter">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <!-- Filtre ville -->
                        <div class="col">
                            <label class="form-label">Location</label>
                            <select class="form-select" id="filter-city">
                                <option value="">All cities</option>
                                <option value="Lyon">Lyon</option>
                                <option value="Annecy">Annecy</option>
                                <option value="Genève">Genève</option>
                            </select>
                        </div>

                        <!-- Filtre prix max -->
                        <div class="col">
                            <label class="form-label">Prix max</label>
                            <select class="form-select" id="filter-price">
                                <option value="">All prices</option>
                                <option value="50">Max 50€</option>
                                <option value="100">Max 100€</option>
                                <option value="200">Max 200€</option>
                                <option value="300">Max 300€</option>
                            </select>
                        </div>

                        <!-- Filtre rating -->
                        <div class="col">
                            <label class="form-label">Minimum rating</label>
                            <select class="form-select" id="filter-rating">
                                <option value="0">All ratings</option>
                                <option value="4">4+ ⭐</option>
                                <option value="5">5 ⭐</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section place list-->
        <div id="places-list">
            <!-- List of places will be populated dynamically -->
			<div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 place-card">
                        <img src="{{ url_for('static', filename='images/places/place_default.webp') }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h2 class="card-title">Card title</h2>
                            <p class="card-text">Price per night: €</p>
                            <a href="{{ url_for('main.place') }}" class="btn details-button">View details</a>
                        </div>
                    </div>
                </div>
			</div>
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>